@using CSI_PPMS.Models

@model Login

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="~/images/jsw1.png"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1" style="color:dodgerblue;font-family:Constantia;font-weight:bolder">Steel</h4>
                                    </div>
                                    <form asp-action="Login" method="post">
                                        @Html.Label((string) ViewBag.messege,(string) ViewBag.messege,new { @class = "text-danger"})
                                        <div style="padding-bottom:20px">
                                            <p>Please login to your account</p>
                                        </div>
                                        <div class="floating-label-group">
                                            @Html.TextBoxFor(m => m.UserName,new {@class = "form-control",type="text",required="true",autofocus = "true", autocomplete="off"})
                                            @Html.Label("Username","Username",new { @class = "floating-label"})
                                            <span asp-validation-for="userName" class="text-danger"></span> 
                                        </div>
                                        <div class="floating-label-group">
                                            @Html.TextBoxFor(m => m.Password,new {@class = "form-control",type="password",required="true",autofocus = "false", autocomplete="off"})
                                            @Html.Label("Password","Password",new { @class = "floating-label"})
                                            <span asp-validation-for="userName" class="text-danger"></span>
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"> LogIn </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Plate Punching & Marking System</h4>
                                    <p class="small mb-0">
                                        As part of plate punching and marking system in collaboration with
                                        CSI Computech India pvt Ltd.
                                    </p>

                                </div>
                                <div style="bottom:0px;position: absolute;right: 0;">
                                    <img src="~/images/CSI Computech.jpg"
                                         style="width: 100px;" alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
